@import Model.Earthquake
@(Earthquake: Earthquake)
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <script type='text/javascript'>
                @* var usgsEarthquakeURL = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-01-01&latitude=' + @Earthquake.latitude + '&longitude=' + @Earthquake.longitude + '&maxradius=' + @Earthquake.radius + '&minmagnitude=5'; *@
                var usgsEarquakeURL = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=' + @Earthquake.startTime + '&endtime=' + @Earthquake.endTime + '&latitude=' + @Earthquake.latitude + '&longitude=' + @Earthquake.longitude + '&maxradius=' + @Earthquake.radius + '&minmagnitude=' + @Earthquake.minMagnitude;
                @* var usgsEarthquakeUrl = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-01-01&latitude=' + @Earthquake.latitude + '&longitude=' + @Earthquake.longitude + '&maxradiuskm=100&minmagnitude=5';*@

                function GetMap() {
                    var map = new Microsoft.Maps.Map('#myMap', {
                        center: new Microsoft.Maps.Location(@Earthquake.latitude, @Earthquake.longitude),
                        mapTypeId: Microsoft.Maps.MapTypeId.canvasLight,
                        zoom: 9
                    });
                    //Load the GeoJSON and HeatMap modules.
                    Microsoft.Maps.loadModule(['Microsoft.Maps.GeoJson', 'Microsoft.Maps.HeatMap'], function () {
                        Microsoft.Maps.GeoJson.readFromUrl(usgsEarquakeURL, function (shapes) {
                            var heatmap = new Microsoft.Maps.HeatMapLayer(shapes, {
                                radius: 10000,
                                unit: 'meters',
                                opacity: 0.8
                            });
                            map.layers.insert(heatmap);
                        });
                    });
                }
        </script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AktwjWKLr_80k1fFaDgor86KDa5m0zv7sIFJnOy8d2H50CJ8tBWG-A4eKSWEMaX8' async defer></script>
    </head>
    <body>
        <div id="myMap" style="position:relative;width:800px;height:600px;"></div>
    </body>
</html>