@import com.fasterxml.jackson.databind.JsonNode
@import java.time.LocalDate

@(title: String)

<!DOCTYPE html>
<head>
    <style>
            html {
                color: #FFF;
                background-color: #33c472;
            }
            #wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            button {
                height: 20px;
                width: 100px;
            }
            th {
                text-align: left;
            }

    </style>
</head>
<html lang="en">
    <h1>Search History</h1>
    <p id="demo"></p>

    <script>
            var text = "";
            text += "<table style=\"width:50%\">";
            text += "<tr>";
            text += "<th>Delete Button</th>";
            text += "<th>Entry Number</th>";
            text += "<th>City</th>";
            text += "<th>Country</th>";
            text += "</tr>";

            var data = "@title";
            data = JSON.parse(data.replace(/&quot;/g,'"'));
            var length = data.length;

            for(i = 0; i < length; i++){
                text += "<tr>";
                text +=  "<td><form action=\"/delete/" + data[i].id + "\" method=\"POST\">";

                text +=  "<input class=\"btn btn-warning\" type=\"submit\" value=\"delete\"></form></td>"
                text += "<td>" + data[i].id + "</td>";
                text += "<td>" + data[i].city + "</td>";
                text += "<td>" + data[i].country + "</td>";
                text += "</tr>";
            }

            text += "</table>";
            document.getElementById("demo").innerHTML = text;
    </script>
    <form id="wrapper" action="@routes.HomeController.index()" method ="">
        <button>Back to Home</button>
    </form>

</html>