@import com.fasterxml.jackson.databind.JsonNode
@import java.time.LocalDate

@(title: String)

<!DOCTYPE html>
<html lang="en">
    <h1>Search History</h1>
    <p id="demo"></p>
    <script>
            var text = "";
    var data = "@title";
    data = JSON.parse(data.replace(/&quot;/g,'"'));
    var length = data.length;
    for(i = 0; i < length; i++){
        text += "City: " + data[i].city + " Country: " + data[i].country + "<br>";
    }
        document.getElementById("demo").innerHTML = text;
    </script>

</html>