@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Earthquake App") {
    <div class="header">
        <h1>Welcome to our <i><u>Earthquake</u></i> Application</h1>
        <h2><i>By: Allen Ge, Geon Wook, Jonathan Chu, and Nick Witmer</i></h2>
        <br><br>
    </div>

    <div class="main">
        <p>Below, you can choose a latitude and longitude in order to see a heatmap representation of all earthquakes in that specified area. Currently, the default values are coordinates relating to Hawaii. Try it out by clicking "Add Coordinate".</p>
        <form action="@routes.HomeController.addLocation()" method="POST">
            @*#1 Start Time:*@
            <input type="text" name="startTime" value="2018-01-01"/>
            @*#2 End Time:*@
            <input type="text" name="endTime" value="2019-04-17"/>
            @*#3 Latitude:*@
            <input type="text" name="city" value="Tokyo"/>
            @*#4 Longitude:*@
            <input type="text" name="country" value="Japan"/>
            @*#5 MinMagnitude:*@
            <input type="text" name="minMagnitude" value="4"/>
            @*#6 Radius:*@
            <input type="text" name="radius"  value="100"/>

            <button>Add Coordinate</button>
        </form>
        <br><br>
        <p>You can also see a history of searches by clicking the button below</p>
        <form action="@routes.HomeController.getHistory()" method ="">
            <button>History</button>
        </form>
    </div>
}